.home2__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: lightgreen;
  padding: 010px;
}

.home2__scrollContainer {
  width: 100%;
  margin: 10px;
}

.home2__cardContainer {
  width: 250px;
  margin: 10px;
}
