.selectedProduct__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin: 15px;
  width: 250px;
  min-width: 250px;
  height: 400px;
  min-height: 400px;
  background-color: #f8f8f8;
}

.selectedProduct__insideContainer {
  margin: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selectedProduct__insideContainer > h4,
h5 {
  padding: 0 10px;
}
